@model FileSite.Data.ViewModels.AccountRecoveryVM

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="NewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control">
                @{/*<input asp-for="Email" value="@ViewBag.to" hidden="hidden"/>*/}
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <input class="btn btn-outline-success float-right" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>